{% extends 'base.html' %}
{% block content %}
               
            <div class="forms">
                <label class="form-check-label" for="exampleRadios1">Gênero da criança ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1" checked>
                <label class="form-check-label" for="exampleRadios1">Masculino</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1" checked>
                <label class="form-check-label" for="exampleRadios1">Feminino</label>  <br> <br>

                <label class="form-check-label" for="exampleRadios2">Grau de Autismo (Com Diagnóstico) ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="opcao2" checked>
                <label class="form-check-label" for="exampleRadios2">Leve</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="opcao2" checked>
                <label class="form-check-label" for="exampleRadios2">Moderado</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="opcao2" checked>
                <label class="form-check-label" for="exampleRadios2">Severo</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="opcao2" checked>
                <label class="form-check-label" for="exampleRadios2">Não Autista</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="opcao2" checked>
                <label class="form-check-label" for="exampleRadios2">Não sei</label> <br> <br>

                <label class="form-check-label" for="exampleRadios3">Dificuldades de Comunicação ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios3" value="opcao3" checked>
                <label class="form-check-label" for="exampleRadios3">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios3" value="opcao3" checked>
                <label class="form-check-label" for="exampleRadios3">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios3" value="opcao3" checked>
                <label class="form-check-label" for="exampleRadios3">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios3" value="opcao3" checked>
                <label class="form-check-label" for="exampleRadios3">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios4">Comportamentos repetitivos interação ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios4" value="opcao4" checked>
                <label class="form-check-label" for="exampleRadios4">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios4" value="opcao4" checked>
                <label class="form-check-label" for="exampleRadios4">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios4" value="opcao4" checked>
                <label class="form-check-label" for="exampleRadios4">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios4" value="opcao4" checked>
                <label class="form-check-label" for="exampleRadios4">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios5">A criança interage socialmente ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios5" value="opcao5" checked>
                <label class="form-check-label" for="exampleRadios5">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios5" value="opcao5" checked>
                <label class="form-check-label" for="exampleRadios5">Quase Sempre</label> <br>
                <label class="form-check-label" for="exampleRadios5">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios5" value="opcao5" checked>
                <label class="form-check-label" for="exampleRadios5">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios6">Presença ou não de fala ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios6" value="opcao6" checked>
                <label class="form-check-label" for="exampleRadios6">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios6" value="opcao6" checked>
                <label class="form-check-label" for="exampleRadios6">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios6" value="opcao6" checked>
                <label class="form-check-label" for="exampleRadios6">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios6" value="opcao6" checked>
                <label class="form-check-label" for="exampleRadios6">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios7">Não olha nos olhos mesmo quando alguém fala com ela(e) ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios7" id="exampleRadios7" value="opcao7" checked>
                <label class="form-check-label" for="exampleRadios7">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios7" id="exampleRadios7" value="opcao7" checked>
                <label class="form-check-label" for="exampleRadios7">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios7" id="exampleRadios7" value="opcao7" checked>
                <label class="form-check-label" for="exampleRadios7">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios7" id="exampleRadios7" value="opcao7" checked>
                <label class="form-check-label" for="exampleRadios7">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios8">Risos e gargalhadas fora de hora, por exemplo: durante um velório ou casamento ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios8" value="opcao8" checked>
                <label class="form-check-label" for="exampleRadios8">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios8" value="opcao8" checked>
                <label class="form-check-label" for="exampleRadios8">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios8" value="opcao8" checked>
                <label class="form-check-label" for="exampleRadios8">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios8" value="opcao8" checked>
                <label class="form-check-label" for="exampleRadios8">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios9">Não gosta  de carinho ou afeto e por isso não se deixa abraçar ou beijar ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios9" value="opcao9" checked>
                <label class="form-check-label" for="exampleRadios9">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios9" value="opcao9" checked>
                <label class="form-check-label" for="exampleRadios9">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios9" value="opcao9" checked>
                <label class="form-check-label" for="exampleRadios9">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios9" value="opcao9" checked>
                <label class="form-check-label" for="exampleRadios9">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios10">Dificuldade em relacionar-se com outras crianças ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios10" value="opcao10" checked>
                <label class="form-check-label" for="exampleRadios10">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios10" value="opcao10" checked>
                <label class="form-check-label" for="exampleRadios10">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios10" value="opcao10" checked>
                <label class="form-check-label" for="exampleRadios10">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios10" value="opcao10" checked>
                <label class="form-check-label" for="exampleRadios10">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios11">Repete sempre as mesmas coisas, sons e palavras, brinca sempre com os mesmos brinquedos ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios11" id="exampleRadios11" value="opcao11" checked>
                <label class="form-check-label" for="exampleRadios11">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios11" id="exampleRadios11" value="opcao11" checked>
                <label class="form-check-label" for="exampleRadios11">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios11" id="exampleRadios11" value="opcao11" checked>
                <label class="form-check-label" for="exampleRadios11">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios11" id="exampleRadios11" value="opcao11" checked>
                <label class="form-check-label" for="exampleRadios11">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios12">Sabe falar, mas prefere não se comunicar ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios12" id="exampleRadios12" value="opcao12" checked>
                <label class="form-check-label" for="exampleRadios12">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios12" id="exampleRadios12" value="opcao12" checked>
                <label class="form-check-label" for="exampleRadios12">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios12" id="exampleRadios12" value="opcao12" checked>
                <label class="form-check-label" for="exampleRadios12">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios12" id="exampleRadios12" value="opcao12" checked>
                <label class="form-check-label" for="exampleRadios12">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios13">Quando fala, a comunicação é monótonona ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios13" id="exampleRadios13" value="opcao13" checked>
                <label class="form-check-label" for="exampleRadios13">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios13" id="exampleRadios13" value="opcao13" checked>
                <label class="form-check-label" for="exampleRadios13">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios13" id="exampleRadios13" value="opcao13" checked>
                <label class="form-check-label" for="exampleRadios13">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios13" id="exampleRadios13" value="opcao13" checked>
                <label class="form-check-label" for="exampleRadios13">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios14">Repete uma pergunta várias vezes seguidas sem se importar se está chateando os outros ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios14" id="exampleRadios14" value="opcao14" checked>
                <label class="form-check-label" for="exampleRadios14">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios14" id="exampleRadios14" value="opcao14" checked>
                <label class="form-check-label" for="exampleRadios14">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios14" id="exampleRadios14" value="opcao14" checked>
                <label class="form-check-label" for="exampleRadios14">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios14" id="exampleRadios14" value="opcao14" checked>
                <label class="form-check-label" for="exampleRadios14">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios15">Tem sempre a mesma expressão no rosto e não entende gestos e expressões faciais dos outros ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios15" id="exampleRadios15" value="opcao15" checked>
                <label class="form-check-label" for="exampleRadios15">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios15" id="exampleRadios15" value="opcao15" checked>
                <label class="form-check-label" for="exampleRadios15">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios15" id="exampleRadios15" value="opcao15" checked>
                <label class="form-check-label" for="exampleRadios15">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios15" id="exampleRadios15" value="opcao15" checked>
                <label class="form-check-label" for="exampleRadios15">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios16">Não tem medo de situações perigosas, como por exemplo atravessar a rua sem olhar para os carros ? (Desconsiderando Bipolaridade) ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios16" id="exampleRadios16" value="opcao16" checked>
                <label class="form-check-label" for="exampleRadios16">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios16" id="exampleRadios16" value="opcao16" checked>
                <label class="form-check-label" for="exampleRadios16">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios16" id="exampleRadios16" value="opcao16" checked>
                <label class="form-check-label" for="exampleRadios16">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios16" id="exampleRadios16" value="opcao16" checked>
                <label class="form-check-label" for="exampleRadios16">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios17">Olha sempre na mesma direção como se estivesse parado no tempo ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios17" id="exampleRadios17" value="opcao17" checked>
                <label class="form-check-label" for="exampleRadios17">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios17" id="exampleRadios17" value="opcao17" checked>
                <label class="form-check-label" for="exampleRadios17">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios17" id="exampleRadios17" value="opcao17" checked>
                <label class="form-check-label" for="exampleRadios17">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios17" id="exampleRadios17" value="opcao17" checked>
                <label class="form-check-label" for="exampleRadios17">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios18">Fica se balançando para frente e para trás por vários minutos ou horas ou torcer as mãos ou os dedos constantemente ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios18" id="exampleRadios18" value="opcao18" checked>
                <label class="form-check-label" for="exampleRadios18">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios18" id="exampleRadios18" value="opcao18" checked>
                <label class="form-check-label" for="exampleRadios18">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios18" id="exampleRadios18" value="opcao18" checked>
                <label class="form-check-label" for="exampleRadios18">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios18" id="exampleRadios18" value="opcao18" checked>
                <label class="form-check-label" for="exampleRadios18">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios19">Dificuldade a se adaptar a uma nova rotina ficando agitado ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios19" id="exampleRadios19" value="opcao19" checked>
                <label class="form-check-label" for="exampleRadios19">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios19" id="exampleRadios19" value="opcao19" checked>
                <label class="form-check-label" for="exampleRadios19">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios19" id="exampleRadios19" value="opcao19" checked>
                <label class="form-check-label" for="exampleRadios19">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios19" id="exampleRadios19" value="opcao19" checked>
                <label class="form-check-label" for="exampleRadios19">Nunca</label> <br><br>

                <label class="form-check-label" for="exampleRadios20">Fica extremamente agitado quando está em público ou em ambientes barulhentos ?</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios20" id="exampleRadios20" value="opcao20" checked>
                <label class="form-check-label" for="exampleRadios20">Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios20" id="exampleRadios20" value="opcao20" checked>
                <label class="form-check-label" for="exampleRadios20">Quase Sempre</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios20" id="exampleRadios20" value="opcao20" checked>
                <label class="form-check-label" for="exampleRadios20">Raramente</label> <br>
                <input class="form-check-input" type="radio" name="exampleRadios20" id="exampleRadios20" value="opcao20" checked>
                <label class="form-check-label" for="exampleRadios20">Nunca</label> <br><br>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Tem algum outro sintoma que apresentou que não foi citado ?</label><br><br>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <button type="button" class="btn btn-primary">Enviar</button>

            </div>

{% endblock %}